
{%extends 'layout.html'%}

{% load static %}
{% block body %}




<div class="jumbotron  shadow " style='height:550px;'>

  <div class="container pt-5 my-5 ">
      <div class="row justify-content-between">
      <div class="w-25 col-3 text-center">
      <h1 class="text-dark font-italic font-weigth-bold  ">ARCHITECT</h1>
      <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, vel.</p>
    </div>
    <div class='w-25 col-3 text-center '>
      <h1 class="text-dark font-italic  "> < CODER ></h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat sit quisquam rem, vitae voluptatibus molestias.</p>
    </div>
  </div>
</div>
</div>
<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, alias voluptatibus distinctio quisquam odio facere qui maxime labore! Commodi ducimus dolorem sequi eligendi dolorum placeat distinctio odit dolore, fugiat repellat accusantium aliquam odio optio amet quam aut! Amet ipsum laudantium cum perspiciatis illo? Debitis, commodi. Autem eligendi laboriosam, necessitatibus dicta quo repellat incidunt, consequuntur tempora aperiam nulla, commodi iure iusto aliquid cum blanditiis fugiat perferendis eos beatae neque quam vel rem numquam facere obcaecati. Dolorum nam officiis voluptates? Voluptatibus dolorum possimus, voluptatum illum ea veniam fugiat repellat debitis sit laboriosam doloribus obcaecati exercitationem, nulla corporis eum ut explicabo aspernatur officia?</p>
</div>
<!-- Services -->
<section class="content-section bg-secondary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Services</h3>
      <h2 class="mb-5">What I Do</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fas fa-city text-dark"></i>
        </span>
        <h4>
          <strong>Architectural Design</strong>
        </h4>
        <p class="text-faded mb-0">Looks great on any screen size!</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fas fa-desktop text-dark"></i>
        </span>
        <h4>
          <strong>3d Rendering</strong>
        </h4>
        <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3 ">
          <i class="fab fa-circle fa-buffer  text-dark"></i>
        </span>
        <h4>
          <strong>Web Development</strong>
        </h4>
        <p class="text-faded mb-0">Millions of users
          <i class="fas fa-hand-peace"></i>
          Start Bootstrap!</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="far fa-comment text-dark"></i>
        </span>
        <h4>
          <strong>Question</strong>
        </h4>
        <p class="text-faded mb-0">I mustache you a question...</p>
      </div>
    </div>
  </div>
</section>



{% endblock %}