{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom border-secondary navbar-trans" style='height:80px; ' >
    <div class="container ">
        <a class="navbar-brand " href="/" >
            <img src="{% static 'img/icon2.png' %}" width="50" height="50" class="d-inline-block align-top" alt="" >
        </a>
    
   
    <div class="collapse navbar-collapse container  " id="navbarText">
        <ul class="nav navbar-nav ml-auto " >
        
            <li class="navbar-nav " >
                <a class="nav-link font-italic text-white  ml-1" href="{% url 'about'%}">About </a>
            </li>
            <li class="navbar-nav dropdown ">
                <a class="nav-link d font-italic text-white  ml-1" href="{% url 'portfolio:architecture' %}"   role='architecture'>Architecture</a>
            </li>
            <li class="navbar-nav  ">
                <a class="nav-link font-italic text-white  ml-1 " href="{% url 'portfolio:software' %}" >Software</a>
            </li>
            <li class="navbar-nav ">
                <a class="nav-link font-italic text-white  ml-1" href="{% url 'article:blog' %}" >Blog</a>
            </li>     
            
            <a class="btn btn-outline-light btn-social mx-1" href="{% url 'contact' %}"><i class="far fa-envelope "></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/tuğçe-köksal-a6a08aa5"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/tugcekoksal"><i class="fab fa-github "></i></a>
          
            
    
        
    </div>
</div>
    </nav>

</div>  
  
